<h3>Home</h3>
<h3>Auctions</h3>
<% @auctions.each do |auction| %>
  <p>Auction: <%=link_to auction.title, auction %></p>
<% end %>

<h3>Users</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<h3>Tags</h3>
<% @tags.each do |tag| %>
  <%=tag.name %>
<% end %>

