        <div class="hero-unit" style="background-color:transparent;padding:0">
            <h1>HomePage</h1>
            <p>Text to test.</p>

            <div class="row" style="margin-top:20px">
                
                    <div class="span3">
                        <span class="label label-info" style="font-size:18px">Users,</span>
                        <p style="margin-top:10px">
						We're here to make your life easier. So we review apps for you and make it easy to make your Android device safe for kids.
						</p>
                        <a class="btn btn-large btn-huge btn-primary" href="https://play.google.com/store/apps/details?id=com.famigo.sandbox">Sign Up NOW</a>
                    </div>
                    <div class="span3">
                        <img src="http://placehold.it/260x180">
                    </div>
                

                
                    <div class="span3">
                        <span class="label" style="font-size:18px">Developers,</span>
                        <p style="margin-top:10px">Famigo is dedicated to making sure it's ridiculously easy for families to find your apps. Connect with us to find out how.</p>
                        <a class="btn btn-large btn-huge" href="http://www.famigo.com/developers/">Connect with Impreza</a>
                    </div>
                    <div class="span3">
                        <img src="http://placehold.it/260x180">
                    </div>
                
            </div>
        </div>
    

    
        <div class="reviews pull-right">
            <div class="social-widgets">
    <div class="social-widget facebook-widget">
        <a class="social-widget-placeholder" href="http://www.facebook.com/sharer/sharer.php?u=http%3A//www.famigo.com/" id="facebook-widget-placeholder">
            Like
        </a>
        <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-layout="box_count" data-send="false"><span style="height: 61px; width: 44px; "><iframe id="f29ce9778" name="f594d5a2" scrolling="no" style="border: none; overflow: hidden; height: 61px; width: 44px; " title="Like this content on Facebook." class="fb_ltr" src="./Download Free Apps & Games for Kids - Famigo_files/like.htm"></iframe></span></div>
    </div>
    <div class="social-widget google-widget">
        <a class="social-widget-placeholder" href="http://plus.google.com/_/+1/confirm?url=http%3A//www.famigo.com/" id="google-widget-placeholder">
            +1
        </a>
        <div class="g-plusone" data-size="tall"></div>
    </div>
    <div class="social-widget twitter-widget">
        <a class="social-widget-placeholder" href="http://twitter.com/intent/tweet?related=famigo&text=Apps%20%26%20Games&url=http%3A//www.famigo.com/&via=famigo" id="twitter-widget-placeholder">
            Tweet
        </a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-related="famigo" data-url="http://www.famigo.com/" data-via="famigo"></a>
    </div>
</div>

        </div>
    
    <div class="reviews page-header">
        <h1>Futures</h1>
    </div>

    



<div id="filter-bar" class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-success" href="http://www.famigo.com/search/">Power Search</a>
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://www.famigo.com/#sort">
            Sort<span>: Newest</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="http://www.famigo.com/approved-apps/">APProved</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/best-apps/">Best</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/popular-apps/">Popular</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://www.famigo.com/#price">
            Price<span>: Free &amp; Paid</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="http://www.famigo.com/free-apps/">Free</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/paid-apps/">Paid</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://www.famigo.com/#platform">
            Platform<span>: Android &amp; Apple</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="http://www.famigo.com/android-apps/">Android</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/ipad-apps/">iPad</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/iphone-apps/">iPhone</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://www.famigo.com/#age">
            Age<span>: Everyone</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="http://www.famigo.com/toddlers-apps/">Toddlers (under 4)</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/kids-apps/">Kids (5 to 9)</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/tweens-apps/">Tweens (10 to 12)</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/teens-apps/">Teens (13 to 19)</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/parents-apps/">Parents (18 and up)</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://www.famigo.com/#category">
            Category<span>: Apps &amp; Games</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="http://www.famigo.com/applications/">Apps</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/book-apps/">Book Apps</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/entertainment-apps/">Entertainment Apps</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/games/">Games</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/arcade-games/">Arcade Games</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/casual-games/">Casual Games</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/educational-games/">Educational Games</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/puzzle-games/">Puzzle Games</a>
                    </li>
                
            
                
                    <li>
                        <a href="http://www.famigo.com/racing-games/">Racing Games</a>
                    </li>
                
            
        </ul>
    </div>
</div>


    
        <div class="row">
            

            

            
                



<div class="span4">
    <div class="application well ">
        <a class="application-tile-link" data-package-name="com.spacesofplay.spirits" href="http://www.famigo.com/app/spirits-1/" title="Spirits">
            
            <img class="pull-left application-icon" src="http://placehold.it/64x64">
		</a>

        <h3>
            
                <a class="application-tile-link" data-package-name="com.spacesofplay.spirits" href="http://www.famigo.com/app/spirits-1/" title="Spirits">Spirits</a>
            

        </h3>
        
            
        
        <p class="developer">Spaces of Play</p>
        <p class="rating">
            
                zzz
            
        </p>

        
        <img alt="Supports Android &amp; Apple (iPhone, iPod touch, iPad)" class="pull-right application-platform-icon" src="./Download Free Apps & Games for Kids - Famigo_files/flyout-android-ios-icon.png">
        <a class="btn btn-primary application-tile-link" data-package-name="com.spacesofplay.spirits" href="http://www.famigo.com/app/spirits-1/" title="Spirits">
            
                Free!
            
        </a>
        <p class="usage-count">
            Brand new!
        </p>
        
    </div>
</div>

            
                



<div class="span4">
    <div class="application well ">
        <a class="application-tile-link" data-package-name="air.com.bugbrained.wordrec3" href="http://www.famigo.com/app/word-recognition-level-3/" title="Word Recognition Level 3">
           <img class="pull-left application-icon" src="http://placehold.it/64x64">
        </a>

        <h3>
            
                <a class="application-tile-link" data-package-name="air.com.bugbrained.wordrec3" href="http://www.famigo.com/app/word-recognition-level-3/" title="Word Recognition Level 3">Word Recognition Level 3</a>
            

        </h3>
        
            
        
        <p class="developer">Bugbrained</p>
        <p class="rating">
            
                zzz
            
        </p>

        
        <img alt="Supports Android &amp; Apple (iPhone, iPod touch, iPad)" class="pull-right application-platform-icon" src="./Download Free Apps & Games for Kids - Famigo_files/flyout-android-ios-icon.png">
        <a class="btn btn-primary application-tile-link" data-package-name="air.com.bugbrained.wordrec3" href="http://www.famigo.com/app/word-recognition-level-3/" title="Word Recognition Level 3">
            
                $0.99
            
        </a>
        <p class="usage-count">
            Brand new!
        </p>
        
    </div>
</div>

            
                



<div class="span4">
    <div class="application well ">
        <a class="application-tile-link" data-package-name="com.heppi_apps.bosjigsawpuzzle" href="http://www.famigo.com/app/bos-jigsaw-puzzles/" title="Bo&#39;s Jigsaw Puzzles">
            <img class="pull-left application-icon" src="http://placehold.it/64x64">
        </a>

        <h3>
            
                <a class="application-tile-link" data-package-name="com.heppi_apps.bosjigsawpuzzle" href="http://www.famigo.com/app/bos-jigsaw-puzzles/" title="Bo&#39;s Jigsaw Puzzles">Bo's Jigsaw Puzzles</a>
            

        </h3>
        
            
        
        <p class="developer">Heppi</p>
        <p class="rating">
            
                zzz
            
        </p>

        
        <img alt="Supports Android &amp; Apple (iPhone, iPod touch, iPad)" class="pull-right application-platform-icon" src="./Download Free Apps & Games for Kids - Famigo_files/flyout-android-ios-icon.png">
        <a class="btn btn-primary application-tile-link" data-package-name="com.heppi_apps.bosjigsawpuzzle" href="http://www.famigo.com/app/bos-jigsaw-puzzles/" title="Bo&#39;s Jigsaw Puzzles">
            
                Free!
            
        </a>
        <p class="usage-count">
            Brand new!
        </p>
        
    </div>
</div>

            
                



<div class="span4">
    <div class="application well ">
        <a class="application-tile-link" data-package-name="com.voldaran.puzzle.graBLOX" href="http://www.famigo.com/app/grablox/" title="graBLOX Puzzle Game">
            <img class="pull-left application-icon" src="http://placehold.it/64x64">
        </a>

        <h3>
            
                <a class="application-tile-link" data-package-name="com.voldaran.puzzle.graBLOX" href="http://www.famigo.com/app/grablox/" title="graBLOX Puzzle Game">graBLOX Puzzle Game</a>
            

        </h3>
        
            
        
        <p class="developer">MobilityWare</p>
        <p class="rating">
            
                zzz
            
        </p>

        
        <img alt="Supports Android" class="pull-right application-platform-icon" src="./Download Free Apps & Games for Kids - Famigo_files/flyout-android-icon.png">
        <a class="btn btn-primary application-tile-link" data-package-name="com.voldaran.puzzle.graBLOX" href="http://www.famigo.com/app/grablox/" title="graBLOX Puzzle Game">
            
                Free!
            
        </a>
        <p class="usage-count">
            Brand new!
        </p>
        
    </div>
</div>

            
                



<div class="span4">
    <div class="application well ">
        <a class="application-tile-link" data-package-name="gov.nasa.jpl.earthnow.activity" href="http://www.famigo.com/app/earth-now/" title="Earth-Now">
            <img class="pull-left application-icon" src="http://placehold.it/64x64">
        </a>

        <h3>
            
                <a class="application-tile-link" data-package-name="gov.nasa.jpl.earthnow.activity" href="http://www.famigo.com/app/earth-now/" title="Earth-Now">Earth-Now</a>
            

        </h3>
        
            
        
        <p class="developer">Jet Propulsion Laboratory</p>
        <p class="rating">
            
                zzz
            
        </p>

        
        <img alt="Supports Android &amp; Apple (iPhone, iPod touch, iPad)" class="pull-right application-platform-icon" src="./Download Free Apps & Games for Kids - Famigo_files/flyout-android-ios-icon.png">
        <a class="btn btn-primary application-tile-link" data-package-name="gov.nasa.jpl.earthnow.activity" href="http://www.famigo.com/app/earth-now/" title="Earth-Now">
            
                Free!
            
        </a>
        <p class="usage-count">
            Brand new!
        </p>
        
    </div>
</div>

            
                



<div class="span4">
    <div class="application well ">
        <a class="application-tile-link" data-package-name="gov.nasa.jpl.spaceimages.android" href="http://www.famigo.com/app/space-images/" title="Space Images">
           <img class="pull-left application-icon" src="http://placehold.it/64x64">
        </a>

        <h3>
            
                <a class="application-tile-link" data-package-name="gov.nasa.jpl.spaceimages.android" href="http://www.famigo.com/app/space-images/" title="Space Images">Space Images</a>
            

        </h3>
        
            
        
        <p class="developer">Jet Propulsion Laboratory</p>
        <p class="rating">
            
                zzz
            
        </p>

        
        <img alt="Supports Android" class="pull-right application-platform-icon" src="./Download Free Apps & Games for Kids - Famigo_files/flyout-android-icon.png">
        <a class="btn btn-primary application-tile-link" data-package-name="gov.nasa.jpl.spaceimages.android" href="http://www.famigo.com/app/space-images/" title="Space Images">
            
                Free!
            
        </a>
        <p class="usage-count">
            Brand new!
        </p>
        
    </div>
</div>

            
                

            
        </div>

        
            

    <ul class="pager">
        
        
            <li class="next">
                <a data-page="2" href="http://www.famigo.com/?page=2" rel="next">Next</a>
            </li>
        
    </ul>
    
			<div class="accordion" id="top-apps-accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#top-apps-accordion" href="http://www.famigo.com/#top-apps-accordion-group-1">Top Apps</a>
                    </div>
                    <div class="accordion-body collapse" id="top-apps-accordion-group-1">
                        <div class="accordion-inner">
                            <ul>
                                <li><a href="?">Cut the Rope</a></li>
                                <li><a href="?">Pumpkins vs. Monsters</a></li>
                                <li><a href="?">Kinkast Family Video Sharing</a></li>
                                <li><a href="?">Shoot the Apple</a></li>
                                <li><a href="?">Talking Tom Cat</a></li>
                                <li><a href="?">Zombie Farm</a></li>
                                <li><a href="?">Pirates of the Caribbean</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        <h3>Home</h3>
<h3>Auctions</h3>
<% @auctions.each do |auction| %>
  <p>Auction: <%=link_to auction.title, auction %></p>
<% end %>

<h3>Users</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<h3>Tags</h3>
<% @tags.each do |tag| %>
  <%=tag.name %>
<% end %>
    
