        <div class="hero-unit" style="background-color:transparent;padding:0">
            <h1>HomePage</h1>
            <p>Text to test.</p>

            <div class="row" style="margin-top:20px">
                
                    <div class="span3">
                        <span class="label label-info" style="font-size:18px">Users,</span>
                        <p style="margin-top:10px">
						Text.
						</p>
                        <a class="btn btn-large btn-huge btn-primary" href="h">Sign Up NOW</a>
                    </div>
                    <div class="span3">
                        <img src="http://placehold.it/260x180">
                    </div>
                

                
                    <div class="span3">
                        <span class="label" style="font-size:18px">Developers,</span>
                        <p style="margin-top:10px">Text.</p>
                        <a class="btn btn-large btn-huge" href="h">Connect with Impreza</a>
                    </div>
                    <div class="span3">
                        <img src="http://placehold.it/260x180">
                    </div>
                
            </div>
        </div>
    

    
        

    
    <div class="reviews page-header">
        <h1>Futures</h1>
    </div>

    



<div id="filter-bar" class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-success" href="h">Power Search</a>
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="h">
            Sort<span>: Newest</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="h">APProved</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Best</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Popular</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="h">
            Price<span>: Free &amp; Paid</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="h">Free</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Paid</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="h">
            Platform<span>: Android &amp; Apple</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="h">Android</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">iPad</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">iPhone</a>
                    </li>
                
            
        </ul>
    </div>

    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="h">
            Age<span>: Everyone</span>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            
                
            
                
                    <li>
                        <a href="hh">Toddlers (under 4)</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Kids (5 to 9)</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Tweens (10 to 12)</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Teens (13 to 19)</a>
                    </li>
                
            
                
                    <li>
                        <a href="h">Parents (18 and up)</a>
                    </li>
                
            
        </ul>
    </div>

    
</div>


    
        <div class="row">
            

            

            
                



            
                

            
        </div>

        
            

    <ul class="pager">
        
        
            <li class="next">
                <a data-page="2" href="h" rel="next">Next</a>
            </li>
        
    </ul>
    
			

        <h3>Home</h3>
<h3>Auctions</h3>
<% @auctions.each do |auction| %>
  <p>Auction: <%=link_to auction.title, auction %></p>
<% end %>

<h3>Users</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<h3>Tags</h3>
<% @tags.each do |tag| %>
  <%=tag.name %>
<% end %>
    
